[submodule "Dependencies/PrivacyKit"]
	path = Dependencies/PrivacyKit
	url = git@gitlab.prae.me:apppets/PrivacyKit.git
[submodule "Dependencies/QRCodeReader"]
	path = Dependencies/QRCodeReader
	url = git@github.com:blochberger/QRCodeReader.git
