[submodule "Dependencies/PrivacyKit"]
	path = Dependencies/PrivacyKit
	url = https://github.com/AppPETs/PrivacyKit.git
[submodule "Dependencies/QRCodeReader"]
	path = Dependencies/QRCodeReader
	url = https://github.com/blochberger/QRCodeReader.git
